.mat-tab-nav-bar {
  border-bottom: none;
  position: relative;
}

.mat-tab-link {
  position: relative;
  height: 24px;
}

.mat-tab-label {
  position: relative;
}

:host ::ng-deep .mat-ink-bar{
  width: 20px!important;
  left: 25%!important;
  transform: translateX(-50%);
}
