<div class="card">
  <img class="card__image" src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
  
  <div class="card__content">
    <h1 class="card__title">
      Shiba Inu
    </h1>
    <p class="card__description"> 
      The brainchild of our small batch brewer, George Woods. A dangerously drinkable milk sugar- infused Scotch Ale.
    </p>
    <div class="card__actions">
      <p>
        <span matBadge="4" matBadgeOverlap="false">
          <b>ABV</b>
        </span>
      </p>
      <button mat-icon-button aria-label="Favorite">
        <mat-icon>favorite</mat-icon>
      </button>
    </div>
  </div>
</div>
