main {
  width: 100%;
  padding: 42px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: hideSearch 3s 2s ease-in-out;
  animation-fill-mode: backwards;
}

.container {
  width: 100vw;
  max-width: 80%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
}

@keyframes hideSearch {
  from {
    opacity: 0;
    display: none;
  }
  to {
    opacity: 1;
  }
}
